<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <system.serviceModel>
    <services>
      <service name="TinderServer.Server">
        <endpoint
					address="net.tcp://localhost:40000/Server"
					binding="netTcpBinding"
					contract="Interface.IServer"
					bindingConfiguration="InsecureTcp" />
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="InsecureTcp">
          <security mode="Transport" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>